html, body {
	width: 300px;
	height: 400px;
}

.header {

	color: white;
	background-color: #428bca;
	padding: 8px;
	border-radius: 5px;
	margin-top: 9px;
	margin-bottom: 12px;
}

#btnGenererId{
	margin-left: 70px;
}

#zoneAffichage {
	margin-top: 15px;
}


